<template id="menu-template">
    <nav class="main-nav">
        <div class="logo">
            <a href="../../index.html">🌱 AgroHelper</a>
        </div>
        <ul class="nav-links">
            <li><a href="../../index.html">Home</a></li>
            <li><a href="../auth/login.html">Login</a></li>
            <li><a href="../auth/register.html">Cadastro</a></li>
            <li><a href="../dashboard/index.html">Dashboard</a></li>
            <li><a href="../marketplace/index.html">Marketplace</a></li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</template>
